
.no-padding {
	padding: 0px;
}

.text-center {
	text-align: center;
}


.btn-cta {
	margin: 20px auto 50px;
	padding: 15px; 
}

hr {
	max-width: 700px;
	width: 80%;
	margin: 10px auto;
}

.font-rg{
	font-weight: 400;
}

.font-bd{
	font-weight: 600;
}

.font-lt{
	font-weight: 300;
}

.font-tn{
	font-weight: 200;
}

body {
	font-smooth: always;
	font-kerning: auto;
}