@media (max-width: 542px){
	#exCollapsingNavbar2 {
	clear: both;
	}
}


@media(max-width: 600px) {
	.hero-text h1 {
		font-size: 35px;
		line-height: 40px;
	}

	.gallary-head h2 {
		font-size: 28px;
	}
}
