@media (max-width: 767px){
	.blog-bg {
	background-color: $white;
	border-radius: 12px;
	box-shadow: 0px 0px 6px 0px #ECECEC;
	padding: 30px 20px;
	margin-bottom: 80px;

	}

	.nav {
		margin-top: 20px;
	}

	.hero {
		.hero-text {
			font-size: 30px;
		}

		.btn {
			font-size: 17px;
		}
	}

	.svg-container {
			margin-top: 60px;
		}

	#themes {
		margin-top: 80px;
		padding-top: 60px;
	}

	.wrapper {
		margin-bottom: 0px;
	}

	.footer {
		padding-top: 60px;
		padding-bottom: 20px;
	}
}


@media (max-width: 375px){
	.nav{
		.menu {
			
			li {
				margin-left: 10px;
			}
		}
	}



}