/* Dfining colors */

$yellow 	: #FCC766;
$red		: #FD7576;
$blue		: #4DB8DE;

$royal_blue : #4B4B57;
$royal_blue_light : #9CA0B4;
$white	: #fff;


/* Pointing colors */


$color_prim	  : $blue;
$color_sec	  : $yellow;
$color_the	  : $red;


$text_dark 	: $royal_blue;
$text_light : $royal_blue_light;

/* font */

$font_md : 500;
$font_rg : 400;
$my_fonts : rubik  , helvetica, sans-serif;