<!-- Hero -->
<div class="hero">
		<h1 class="hero-text">Free Responsive Bootstrap Themes
		and Templates</h1>
		<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/gitshot/bootstrapjet" data-style="mega" data-count-href="/gitshot/bootstrapjet/stargazers" data-count-api="/repos/gitshot/bootstrapjet#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star gitshot/bootstrapjet on GitHub">Star</a>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/gitshot/bootstrapjet" data-icon="octicon-eye" data-style="mega" data-count-href="/gitshot/bootstrapjet/watchers" data-count-api="/repos/gitshot/bootstrapjet#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch gitshot/bootstrapjet on GitHub">Watch</a>
</div>
<!-- Hero END -->
