<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    {% include import_svg.html %}
    {% include hero.html %}

    <!-- Themes -->
<div class="container-fluid" id="themes">
  <div class="container text-center">
    <div class="theme-info">
      <h2>Theme Gallary</h2>
      <p>Feel free to use any of these themes on your personal or commercial projects.</p>
    </div>
    
      <div class="wrapper">
        <div class="themes">

          <div class="row">

            {{ content }}

          </div>
        </div>
        <br>
        <br>
      </div>
  </div>
</div>
<!-- Themes END -->


    {% include footer.html %}

  </body>

</html>
